:root{
    --startLocation: 100px;
    --endLocation: 100px;
}

#main{
    display: flex;
}

.newFrequency{
    animation-name: frequencyChange;
    animation-duration: 1s;
}

@keyframes frequencyChange {
    from {height: var(--startLocation);}
    to {height: var(--endLocation);}
}

