:root{
    --startLocation: 100px;
    --endLocation: 100px;
}

#main{
    display: flex;
}

.high{
    animation-name: highFreq;
    animation-duration: 0.1s;
}

.med{
    animation-name: medFreq;
    animation-duration: 0.2s;
}

.low{
    animation-name: lowFreq;
    animation-duration: 0.1s;
}

@keyframes highFreq {
    from {height: var(--startLocation);}
    to {height: var(--endLocation);}
}

@keyframes medFreq {
    from {height: var(--startLocation);}
    to {height: var(--endLocation);}
}

@keyframes lowFreq {
    from {height: var(--startLocation);}
    to {height: var(--endLocation);}
}
